
/*general classes*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}

.row {
    margin-left: 5%;
    margin-right: 5%;
}

a {
    color: black;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*navbar stlying*/ 

.navbar-inverse {
    background-color: navy;
}

/*CSS Submenu classes*/

.sub-menu ul {
    display: none;
    position: inherit;
    background: navy;
    color: lightgoldenrodyellow;
    list-style: none;
    position: relative;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
}

.sub-menu2 ul {
    display: none;
    position: inherit;
    background: navy;
    color: lightgoldenrodyellow;
    list-style: none;
    position: relative;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
}

.sub-menu:hover ul {
    position: absolute;
    display: inherit;
    left: 100%;
    top: 42.5%;
}

.sub-menu2:hover ul {
    position: absolute;
    display: inherit;
    left: 100%;
    top: 54.5%;
}

.sub-menu > ul > li:hover {
    background-color: cornflowerblue;
}

.sub-menu2 > ul > li:hover {
    background-color: cornflowerblue;
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Carousel */
.item {
    max-height: 550px;
}

.carousel-caption {
    top: 10%;
}

    .carousel-caption h1 {
        color: lightgoldenrodyellow;
        font-size: 56px;
        text-shadow: 2px 1px 0.2px rgba(0, 0, 0, 0.6);
    }

    .carousel-caption p {
        font-size: 28px;
        line-height: 1.4;
        color: lightgoldenrodyellow;
        text-shadow: 2px 1px 0.2px rgba(0, 0, 0, 0.6);
    }

    .carousel-caption a {
        margin-top: 10%;
    }

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    max-height: 550px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

/*card classes*/

.card {
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px 5px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    min-width: 300px;
    width: 31%;
    text-align: center
}

.card-1 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .card-2:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.card-large {
    width: 96%;
    text-align: left;
    padding: 5px;
}

.card-medium {
    width: 48%;
    text-align: center;
    min-width: 550px;
    vertical-align: top;
}

.card-menu {
    width: 250px;
}

/*Card image placement*/
.card-img-top {
    width: 100%;
    border-radius: 5px 5px;
}

.card-img-left {
    float: left;
    border-radius: 5px 5px;
    margin: 10px;
}

/*coloms*/
.colom-list {
    list-style: none;
    margin-left: -40px;
}

.colom {
    background: #fff;
    display: inline-block;
    margin: 1rem;
    position: relative;
    min-width: 300px;
    width: 31%;
    text-align: center;
    vertical-align: top;
}

.colom-border {
    border-left: solid black 1px;
    border-right: solid black 1px;
}

/*Centering*/
.center {
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

    .center ul {
        list-style: none;
    }
