
@{
    ViewBag.Title = "ViewAppointments";
    Layout = "~/Views/Shared/_LayoutPatientPortal.cshtml";
}

<p style="font-size:medium;margin-bottom:20px;">Below you can view and request an appointment. (Note that appointments will not be visible until they have been reviewed and confirmed with you by our staff.)</p>
<a href="/PatientPortal/AppointmentForm" class="ss-button" type="submit" style="padding: 15px; text-align: center; display: block;  border-radius: 40px; height: 50px; margin-top: 0; margin-bottom: 30px; width: 300px; background-color: navy; border: none; color: lightgoldenrodyellow; font-size: 16px;">Request an Appointment</a>
<hr />
<h4>You have no appointments scheduled at this time.</h4>

