
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*-----conditions menu------*@
<div class="colom" style="border-right:solid black 1px;">
    <h1>Conditions We Treat</h1>
    <ul>
        <li><a href="/conditions/allergicRhinitis">Allergic Rhinitis</a></li>
        <li><a href="/conditions/nonallergicRhinitis">Non-Allergic Rhinitis</a></li>
        <li><a href="/conditions/asthma">Asthma</a></li>
        <li><a href="/conditions/sinusitus">Acute and Chronic Sinusitis</a></li>
        <li><a href="/conditions/skinDisease">Allergic Skin Diseases</a></li>
        <li><a href="/conditions/foodAllergy">Food Allergy</a></li>
        <li><a href="/conditions/venom">Venom or Insect Allergy</a></li>
        <li><a href="/conditions/anaphylaxis">Anaphylaxis</a></li>
    </ul>
</div>
<div class="colom">
    <h1>Caring for Allergies</h1>
    <ul>
        <li><a href="/Learning/EpiPen">Using an EpiPen</a></li>
        <li><a href="/Learning/AVQ">Using Auvi-Q</a></li>
        <li><a href="/Learning/Spacer">What is a spacer?</a></li>
        <li><a href="/Learning/Inhaler">Using an Inhaler</a></li>
    </ul>
</div>
<hr />
<hr />



<hr />
<p>Information sourced from<a href="https://www.aaaai.org/conditions-and-treatments/allergies"><img src="http://careers.aaaai.org/headers/cc/responsive/partner_lib/12237/img/logo-12237.gif" style="width:200px;" /></a></p>



